APP_ENV="DEV"
APP_LOG_PATH="/var/log/scheduler/app.log"

DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=mailowl
DB_USER=mailowl
DB_PASSWORD=mailowl

RABBIT_HOST=127.0.0.1
RABBIT_PORT=5672
RABBIT_USER=rabbit
RABBIT_PASSWORD=rabbit

EMAIL_FROM="@yandex.ru"
SMTP_PASSWORD=""
SMTP_PORT=465
SMTP_HOST=smtp.yandex.ru

SMS_API_ID=""